
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");
:root{
  --ff: "Montserrat", sans-serif;
  --colorprimary: black;
  --colorsecondary: white;
  --coloraccent: #05f903;
  --coloraccent: #0abefb;
  --h1: bold 54px/64px var(--ff);
  --h2: bold 36px/36px var(--ff);
  --h3: bold 24px/30px var(--ff);
  --links: 18px/18px var(--ff);
  --p: 18px/30px var(--ff);
  --p1: 24px/30px var(--ff);
  --p2: 36px/48px var(--ff);
  --subtext: 12px/20px var(--ff);
  --transition: 0.3s ease-in-out;
}
h1{
    font: var(--h1);
    margin-top: 8px;
    margin-bottom: 2px;
}
h2{
    font: var(--h2);
    margin-top: 8px;
    margin-bottom: 2px;
}
h3{
    font: var(--h3);
    margin-top: 8px;
    margin-bottom: 2px;
}
p{
    font: var(--p);
    margin-top: 8px;
    margin-bottom: 2px;
}
p1{
    font: var(--p1);
    margin-top: 8px;
    margin-bottom: 2px;
}
p2{
    font: var(--p2);
    margin-top: 8px;
    margin-bottom: 2px;
}
ul{
    display: flex;
    list-style-type: none;
    padding: 0;
}
li{
    display: flex;
    align-items: center;
    margin-left: 30px;
}
html{
    scroll-behavior: smooth;
}

body{
    font-family: var(--ff);
    margin: auto;
    padding: 0;
    background-color: var(--colorprimary);
    color: var(--colorsecondary);
}
.section{
    display: flex;
    background: grey;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}
.name{
    display: flex;
    align-items: center;
    gap: 20px;
}
.main{
    display: flex;
    margin: auto;
    max-width: 1125px;
    padding: 8px;
    border: 1px solid black;
    flex-direction: column;
    background-color: #05f903;
}


